#canvas {
    height: 30vh;
}
.header-text{
    color: black;
    font-family: "fantasy";
    font-size: 20px;
}
.plot{;
    border: 1px solid #333;
    text-align: center;
}
table {
    font-family: "fantasy";
    font-size: 14px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 5px ridge #F1692F;
    border-bottom: 5px ridge #F1692F;
    border-right: 5px ridge #F1692F;
    border-left: 5px ridge #F1692F;
}
th {
    font-size: 13px;
    font-weight: normal;
    background: #FFBB97;
    border-right: 1px ridge #F1692F;
    border-left: 1px ridge #F1692F;
    color: black;
    padding: 8px;
}
td {
    background: #FFBB97;
    border-right: 1px ridge #F1692F;
    border-left: 1px ridge #F1692F;
    color: black;
    padding: 8px;
}
th:hover {
    font-size: 20px;
}
td:hover {
    font-size: 20px;
}